# compiled files
*.pyc
*.so
build/
dist/
venv/
.vscode/
extractnet.egg-info
.venv/
.env
# IDEs
.idea/
.vscode/

# cython temporary files
src/extractnet/blocks.cpp
src/extractnet/blocks.html
src/extractnet/lcs.cpp
src/extractnet/lcs.html
src/extractnet/_weninger.cpp
src/extractnet/readability.cpp
src/extractnet/features/_readability.cpp
src/extractnet/features/_kohlschuetter.cpp
src/extractnet/features/_weninger.cpp

documents/
output/

.coverage*

# vim temp files
*.swp

.vagrant
