[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
cython = "*"
beautifulsoup4 = "*"
htmldate = "*"
ftfy = "*"
lxml = "*"
numpy = "*"
pytest = "*"
pytest-cov = "*"
scipy = "*"
tld = "*"
dateparser = "*"
joblib = "*"
onnxruntime = "*"
sklearn-crfsuite = {editable = true, git = "https://github.com/scrapinghub/sklearn-crfsuite"}

[dev-packages]
setuptools = "*"
build = "*"

[requires]
python_version = "3.12"
